<nav>
  <h3>NextStop</h3>
  <a mat-button routerLink="/stops" routerLinkActive="nav-item-active">
    Stops
    <mat-icon>location_on</mat-icon>
  </a>
  <a mat-button routerLink="/routes" routerLinkActive="nav-item-active">
    Routes
    <mat-icon>route</mat-icon>
  </a>
  <a mat-button routerLink="/holidays" routerLinkActive="nav-item-active">
    Holidays
    <mat-icon>beach_access</mat-icon>
  </a>
  <a mat-button routerLink="/statistics" routerLinkActive="nav-item-active">
    Statistics
    <mat-icon>insert_chart</mat-icon>
  </a>
</nav>
